.status-message {
   color: green;
   background-color: lightgrey;
   border: 2px solid green;
   border-radius: 10px;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 2rem 1rem;
   padding: 0.5rem;
   font-size: 1.25rem;
}

.error {
   color: darkred;
   background-color: lightpink;
   border: 4px dashed darkred;
}